@{ ViewData["Title"] = "About"; }
<h2>@ViewData["Title"]</h2>

<b>My first ASP.NET 5 Web App with Visual Studio Code</b>

<h3>About me</h3>
<p>
    Web developer since 2004, working with ASP.NET since 2007 focusing on backend.
    <br>
    Technical data processing, degree in systems analysis and post graduate degree in software engineering.
    <br>
    I love to follow the news about technology and web application development, I like software architecture, ALM, object orientation and the like.
</p>