@{ ViewData["Title"] = "Contact"; }
<h2>@ViewData["Title"]</h2>

<ul>
    <li><b>e-Mail / Hangouts / Skype:</b> 
        <a href="mailto:pedro.fernandesfilho@gmail.com">pedro.fernandesfilho@gmail.com</a>
    </li>
    <li><b>Linkedin:</b> 
        <a href="http://linkedin.com/in/pedrofernandesfilho">linkedin.com/in/pedrofernandesfilho</a>
    </li>
    <li><b>GitHub:</b>
        <a href="http://github.com/pedrofernandesfilho">github.com/pedrofernandesfilho</a>
    </li>
</ul>